<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <header class="header-main">
        <h1 class="title-main">dylan</h1>
        <nav class="nav-main">
            <section><a href="./index.html">portafolio</a></section>
            <section><a href="./sobre-mi.html">sobre mí</a></section>
            <section><a href="./proyectos.html">proyectos</a></section>
            <section><a href="./mascotas.html">mascotas</a></section>
        </nav>
    </header>


    <footer>
        <p>© 2024 Dylan. Todos los derechos reservados.</p>
    </footer>
</body>
</html>