<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylepets.css">
    <title>Document</title>
</head>

<body>
    <header class="header-main">
        <h1 class="title-main">dylan</h1>
        <button class="menu-toggle" id="menu-toggle">☰</button>

        <nav class="nav-main" id="nav">
            <a href="/src/views/sobre-mi.html">sobre mí</a>
            <a href="/src/views/proyectos.html">proyectos</a>
            <a href="/src/views/contacto.html">contacto</a>
            <a href="/index.html">portafolio</a>
        </nav>
    </header>
    <main class="pets-gallery-container">
        <h2 class="pets-gallery-title">galeria de mascotas</h2>
        <div class="pets-gallery">
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="/public/img/perro.webp" class="img-pet">
                    </div>

                    <div class="flip-card-back">
                        <h3>mi perro</h3>
                        <p>este es mi perro, se llama Max, es un labrador retriever de 3 años, es muy jugueton y le
                            encanta salir a pasear, es mi compañero fiel y siempre me alegra el dia con su presencia.
                        </p>
                    </div>

                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="/public/img/perro.webp" class="img-pet">
                    </div>

                    <div class="flip-card-back">
                        <h3>mi perro</h3>
                        <p>este es mi perro, se llama Max, es un labrador retriever de 3 años, es muy jugueton y le
                            encanta salir a pasear, es mi compañero fiel y siempre me alegra el dia con su presencia.
                        </p>
                    </div>

                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="/public/img/perro.webp" class="img-pet">
                    </div>

                    <div class="flip-card-back">
                        <h3>mi perro</h3>
                        <p>este es mi perro, se llama Max, es un labrador retriever de 3 años, es muy jugueton y le
                            encanta salir a pasear, es mi compañero fiel y siempre me alegra el dia con su presencia.
                        </p>
                    </div>

                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="/public/img/perro.webp" class="img-pet">
                    </div>

                    <div class="flip-card-back">
                        <h3>mi perro</h3>
                        <p>este es mi perro, se llama Max, es un labrador retriever de 3 años, es muy jugueton y le
                            encanta salir a pasear, es mi compañero fiel y siempre me alegra el dia con su presencia.
                        </p>
                    </div>

                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="/public/img/perro.webp" class="img-pet">
                    </div>

                    <div class="flip-card-back">
                        <h3>mi perro</h3>
                        <p>este es mi perro, se llama Max, es un labrador retriever de 3 años, es muy jugueton y le
                            encanta salir a pasear, es mi compañero fiel y siempre me alegra el dia con su presencia.
                        </p>
                    </div>

                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <img src="/public/img/perro.webp" class="img-pet">
                    </div>

                    <div class="flip-card-back">
                        <h3>mi perro</h3>
                        <p>este es mi perro, se llama Max, es un labrador retriever de 3 años, es muy jugueton y le
                            encanta salir a pasear, es mi compañero fiel y siempre me alegra el dia con su presencia.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2024 Dylan. Todos los derechos reservados.</p>
    </footer>
</body>
<script src="/src/js/script.js"></script>

</html>