<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylesproyects.css">
    <title>Document</title>
</head>

<body>
    <header class="header-main">
        <h1 class="title-main">dylan</h1>
        <nav class="nav-main">
            <section><a href="/src/views/sobre-mi.html">sobre mí</a></section>
            <section><a href="/index.html">portafolio</a></section>
            <section><a href="/src/views/contacto.html">contacto</a></section>
            <section><a href="/src/views/mascotas.html">mascotas</a></section>
        </nav>
    </header>
    <div>
        <div class="slogan">
            <span>construido con precision.</span>
            <div class="opacity">
                <span class="title-highlighted">diseñado</span>
                <span>para escala.</span>
            </div>
        </div>
            <div>
                <p class="paragraph-below-slogan">
                    creemos que la excelencia nace de lo pequeño.
                    por eso, cada proyecto es una pieza de relojería
                    técnica diseñada para expandirse sin límites.</p>
            </div>
            <div>
                <img src="/public/img/proyectos.png" alt="projects" class="img-projects">
                <div>
                    <p>
                        estos son algunos de mis proyectos.
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <ul>
                        <li><a href="https://github.com/dylan571/EjemploInventarioRiwi.git">Inventario</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="https://github.com/dylan571/CajeroAutomatico.git">ATM</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="https://github.com/dylan571">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>© 2024 Dylan. Todos los derechos reservados.</p>
    </footer>
</body>

</html>