<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/stylesproyects.css">
    <title>Document</title>
</head>

<body>
    <header class="header-main">
        <nav>
            <h1 class="title-main">studio<span class="title-second-word">portafolio</span></h1>
            <div class="nav-main">
                <section><a href="/src/views/sobre-mi.html">sobre mí</a></section>
                <section><a href="/index.html">portafolio</a></section>
                <section><a href="/src/views/contacto.html">contacto</a></section>
                <section><a href="/src/views/mascotas.html">mascotas</a></section>
            </div>
        </nav>
    </header>
<div class="hero"> 
    <div class="hero-text">
        <span class="opacity"> ESTABLISHED 2026</span>
    <div>
        <div class="slogan">
            <span>construido con precision.</span>
            <div>
                <span class="title-highlighted">diseñado</span>
                <span>para escala.</span>
            </div>
        </div>
    <div>
            <p class="paragraph-below-slogan">
                creo que la excelencia nace de lo pequeño.
                por eso, cada proyecto es una pieza de relojería
                técnica diseñada para expandirse sin límites.</p>
    </div>
        <div>
            <a href="#proyects" class="btn">ver proyectos</a>
            <a href="contacto.html" class="btn-2">contactarme</a>
        </div>
    </div>    
</div>
<div class="hero-image">
    <img src="/public/img/codigo.jpg" alt="projects">
</div>
</div>
<div id="proyects">
    <span class="opacity">TRABAJO REFINADO</span>
    <span>proyectos seleccionados</span>
    <div >

    </div>
</div>
    <footer>
        <p>© 2024 Dylan. Todos los derechos reservados.</p>
    </footer>
</body>

</html>