/* --- BASE --- */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f8fafc; /* Blanco azulado suave */
    margin: 0;
    padding: 0;
    background-color: #0f172a; /* Azul Marino Base */
}

/* --- CABECERA --- */

.header-main {
    background-color: #020617; /* Azul profundo */
    box-shadow: 0px 4px 15px #10B981;
    padding: 20px;
    border-bottom: 1px solid rgba(32, 178, 170, 0.2);
}

.title-main {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    margin: 0px;
}

.nav-main {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 20px;
    margin-top: 25px;
}

a {
    color: #cbd5e1;
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    color: lightseagreen;
}

/* --- primer-contenedor --- */
.title-highlighted {
    color: #10B981;
    font-weight: bold;
}

/* --- opacidad --- */

.opacity {
    opacity: 0.7;
}

/* --- slogan --- */
.slogan {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 60px;
    padding: 80px;
    padding-bottom: 20px;
    line-height: 1.1;
}

.paragraph-below-slogan {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    padding-left: 80px;
    line-height: 1.1;
    opacity: 0.7;
}

.img-projects {
    padding: 80px;
    padding-top: 30px;
}

/* --- FOOTER --- */
footer {
    background-color: #020617;
    color: #94a3b8;
    text-align: center;
    padding: 40px;
    border-top: 1px solid rgba(32, 178, 170, 0.2);
}